node_modules/*
server/api/google/general/credentials.json
server/api/middleware/calendar.js
server/SequelizeTest.js
server/index.html
server/public
server/node_modules/
server/sequelizeAuto.js

client-v2/src/views/Family copy.vue
server/api/controllers/appointment_old.js
server/api/models/SequelizeAuto/Appointment_old.js
client-v2/src/services/appointment copy.js

server/api/controllers/gmail_old.js

server/api/google/labs

server/api/google/general/index.js
server/api/google/general/token.json
server/api/google/general/credentials.json


client-v2/._.DS_Store
.DS_Store
._.DS_Store
server/api/logs
client-v2/src/components/AppointmentTable.vue
docs/_build
docs/_static/
docs/_templates/
client-v2/src/components/AppointmentTable.vue
client-v2/src/components/EmailDialog.vue
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/.buildinfo
docs/_build/html/genindex.html
docs/_build/html/search.html
docs/_build/html/index.html
server/ecosystem.config.js
server/config/general.js
server/api/models/DRDB.js.rej
server/api/models/DRDB.js.orig
.vscode/settings.json
server/config/general.js-20201102
server/config/general.js-20210124
client-v2/src/plugins/variables.js
server/server.cert
server/server.key
client-v2/src/components/ScheduleTable_old.vue
server/api/controllers/reminder copy.js
server/api/controllers/reminder_test.js
client-v2/vue.config.js
server/api/realtimeUpdate
server/stats/*.json
client/.shared/
server/server_output_debug.log
.agent/skills/ui-ux-pro-max/scripts/__pycache__/
client/.vscode/
client/.agent/
repomix-output.xml
error_logs.txt
stats/monthYearWeekN.json
pm2_logs.txt
